# Python compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Log files
app/data/ErrorLog.log

# Database files
app/db.json

# Environment variables
venv/

# Pyinstaller
# Build folder
/build/

# Dist folder containing executable
/dist/

# the .spec file for custom configs
*.spec
